In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("HR_comma_sep.csv", encoding="ISO8859-1")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [9]:
np.corrcoef(df['average_montly_hours'], df['number_project'])

array([[1.        , 0.41721063],
       [0.41721063, 1.        ]])

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(np.array(df['average_montly_hours']).reshape(-1, 1), np.array(df['number_project']).reshape(-1, 1))
r_sq = model.score(np.array(df['average_montly_hours']).reshape(-1, 1), np.array(df['number_project']).reshape(-1, 1))
print("Coefficient of determination:", r_sq)
print("Intercept:", model.intercept_)
print("Coefficient:", model.coef_)

Coefficient of determination: 0.1740647134579334
Intercept: [1.73289239]
Coefficient: [[0.01029673]]

# average_montly_hours = 1.73289239 + 0.01029673 * number_project